PAUSIC_ICON ICON "pausic.ico"
1 24 "../app.manifest"

PAUSIC_ABOUT DIALOGEX 0, 0, 170, 74
// WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME | DS_SETFONT | DS_CENTER
STYLE 0x80C808C0
CAPTION "About"
FONT 11, "Segoe UI"
BEGIN
    // SS_ICON | SS_REALSIZECONTROL: scale the icon to this control.
    ICON "PAUSIC_ICON", 101, 21, 14, 24, 24, 0x43
    CTEXT "Pausic", 102, 51, 21, 98, 16
    DEFPUSHBUTTON "Close", 2, 58, 48, 54, 18
END
